:root {
    --menubar-height: 5rem;
    --site-green-color: #095047;
}

.nav-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    justify-content: center;
    width: 100vw;
    background-color: white;
}

.navbar {
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    font-weight: bold;
    height: var(--menubar-height);
    width: 100%;
    padding: 0 15%;

    border-bottom: var(--site-green-color);
    border-bottom-style: solid;
}

.menu-items {
    text-decoration: none;
    color: black;
}

.menu-items:hover {
    text-decoration: underline;
}

.menu-items:focus {
    text-decoration: underline;
}


.site-title {
    margin-right: auto;

}

#title {
    height: 3rem;
    display: flex;
}

#logo {
    height: 3rem;
    display: flex;
}

.nav-btn {
    background: transparent;
    border: none;
    color: var(--site-green-color);
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

.nav-btn:hover {
    opacity: 0.5;
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: white;

    a {
        text-decoration: none;
        color: var(--site-green-color);
        font-weight: bold;
        padding: 0.5rem 0;
        width: 100%;
        text-align: center;

        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
    }

    a:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width: 1210px) {
    .menu-items {
        display: none;
    }

    .nav-open-btn {
        display: flex;
    }

    .site-title {
        display: none;
    }

    .site-logo {
        margin-right: auto;
    }

    .responsive_nav {
        .nav-open-btn {
            display: none;
        }

        .nav-close-btn {
            display: flex
        }

        .mobile-nav {
            display: flex;
            flex-direction: column;
        }

    }


}